.App {
  text-align: center;
}

h2{
  font-style: normal;
  font-family: sans-serif;
  font-size: 300%;
  font-weight: lighter;
  font-variant: small-caps;
  color: #C77F62;
  margin-bottom: 0;
}

h3{
  font-style: normal;
  font-weight: lighter;
  font-size: 180%;
  font-family: sans-serif;
  font-variant: small-caps;
  margin-bottom: 0;
  color: #C77F62
}

div{
  font-style: normal;
  padding-left: 5px;
  background-color:#012325;
  color: #BFB8A3
}

.error{
  color:#012325;
  background: #C77F62;
  font-size: 13px;
  padding: 10px;
  margin-bottom: 10px;
}

button{
  font-variant: small-caps;
  background-color: #012325;
  border-color: #BFB8A3;
  border-width: thin;
  padding: 5px;
  color: #BFB8A3;
}

button:hover{
  border-color: #C77F62;
  color: #C77F62
}

button, input:focus{
  outline:none;
}

input{
  background-color: #012325;
  border-color: #BFB8A3;
  border-width: thin;
  padding: 5px;
  color: #BFB8A3;
}

input, label{
  display:block;
  margin-bottom: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}